body {
  text-align: center;
  padding: 10px;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

/* #header
=============================
 */
#header,
#header nav {
  background-color: #dddddd;
  border: 1px solid #2c2828;
  padding: 10px;
}

#header nav {
  background-color: #80808080;
  margin-top: 10px;
}

/* .wrapper
=============================
 */
.wrapper {
  margin-top: 10px;
}

/* .section01
=============================
 */

.section01 {
  background-color: #dddddd;
  border: 1px solid #2c2828;
  padding: 10px;
  float: left;
  width: 75%;
}

.section01 h2,
.section02 h2 {
  background-color: #80808080;
  border: 1px solid #2c2828;
  margin-top: 10px;
  padding: 20px;
}

/* .sec01-content
=============================
 */

.sec01-content {
  background-color: #80808080;
  border: 1px solid #2c2828;
  padding: 10px;
  margin: 10px 0;
}

.sec01-content h2,
.sec01-content .cont-p {
  background-color: #837c7c;
  border: 1px solid #2c2828;
}

.sec01-content .cont-p {
  margin-top: 10px;
  padding: 50px 20px;
}

.desc {
  margin-top: 10px;
}

.desc .desc-p {
  background-color: #837c7c;
  border: 1px solid #2c2828;
  padding: 80px 0;
  float: left;
  width: 49.5%;
}

.desc aside {
  width: 49.5%;
  float: right;
  background-color: #837c7c;
  border: 1px solid #2c2828;
  padding: 80px 0;
}

.content-footer {
  background-color: #837c7c;
  border: 1px solid #2c2828;
  margin-top: 10px;
  padding: 20px;
}

/* .section02
=============================
 */

.section02 {
  background-color: #dddddd;
  border: 1px solid #2c2828;
  padding: 10px;
  float: right;
  width: 24.2%;
}

.section02 nav {
  background-color: #80808080;
  border: 1px solid #2c2828;
  margin-top: 10px;
  padding: 241px 0;
}

/* .footer
=============================
 */

.footer {
  background-color: #80808080;
  border: 1px solid #2c2828;
  margin-top: 10px;
  padding: 30px 0;
}